<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PizzaStoreManagement.Properties.Settings.pizza_storeConnectionString"
            connectionString="Data Source=DESKTOP-5LU9UG3;Initial Catalog=pizza_store;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>